.weather-display {
  border: 2px solid transparent;
  padding: 10px;
  background-color: #a49d9d57;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 95%;
  height: 80%;
  max-width: 550px;
  align-content: center;
  color: black;
  /* gap: 10px */
}

.weather__place{
  font-size: 1.3rem;
}

.weather__container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  /* gap: 0 50px;
  flex-wrap: wrap; */
}

.weather__description {
  margin: 5px 0;
  text-align: center;
}

.weather__item{
  display: grid;
  grid-template-columns: 5fr 4fr;
  gap: 10px;
}

button {
  background-color: #013a77;
  color: #fff;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 15px;
  transition: transform .5s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
  transition: transform .5s;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

ul{
  font-size: 24px;
}


